body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    width: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #fafafa;
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}

.checkbox {
    padding-top: 10px;
}

.btn {
    /* width: 100%; */
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #fafafa;
    cursor: pointer;
}

button {
    background-color: #30a5ff;
    border-color: #30a5ff;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button:hover {
    background: blue;
}

.error {
    color: red;
    font-size: 12px;
}

.a {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.b {
    display: flex;
    justify-content: space-around;
}