main {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.product-top {
    display: flex;
    justify-content: flex-start;
    margin-left: 24%;
    padding: 24px;
    font-size: 24px;
}

.product-bot {
    display: flex;
    /* justify-content: flex-start; */
    margin-left: 24%;
}

.product-img>img {
    width: 400px;
}


.product-info {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-left: 30px;
}

.product-info>div {
    display: flex;
    width: 65%;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.gia {
    font-size: xxx-large;
    color: #C92127;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chinhsach {
    font-size: large;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

.them {
    margin-left: 0;
    color: #C92127;
    background: #fff;
    border: 2px solid #C92127;
    height: 44px;
    width: 45%;
}

.mua {
    margin-left: 0;
    color: #fff;
    background: #C92127;
    border: 2px solid #C92127;
    height: 44px;
    width: 45%;
}